.about {
  padding-top: 60px;
  margin-bottom: 60px;
}

.about-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.about-list-item-img {
  display: flex;
  padding: 25px 190px;
  background-color: var(--secondary-background-color);

  @media screen and (min-width: 768px) {
    padding: 25px 142px;
  }
}

.about-list-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tile-text-color);
  margin-top: 30px;
  margin-bottom: 10px;

  text-align: center;
}

.about-list-description {
  display: inline-block;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  min-width: 270px;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .about-list-item {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about {
    padding-top: 95px;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .about-list-item:not(:last-child) {
    margin-right: 30px;
  }

  .about-list-item-img {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: var(--secondary-background-color);
  }

  .about-list-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--tile-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .about-list-description {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    min-width: 270px;
  }
}

// .about {
//   padding-top: 95px;
// }

// .container .about {
//   margin-bottom: 95px;
// }

// .about-list {
//   display: flex;
//   justify-content: space-between;
// }

// .about-list-item:not(:last-child) {
//   margin-right: 30px;
// }

// .about-list-item-img {
//   display: flex;
//   padding-top: 25px;
//   padding-bottom: 25px;
//   padding-left: 100px;
//   padding-right: 100px;
//   background-color: var(--secondary-background-color);
// }

// .about-list-title {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
//   color: var(--tile-text-color);
//   margin-top: 30px;
//   margin-bottom: 10px;
// }

// .about-list-description {
//   display: inline-block;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   font-size: 14px;
//   line-height: 1.714;
//   letter-spacing: 0.03em;
//   color: var(--primary-text-color);
//   min-width: 270px;
// }
