.work {
  padding-bottom: 95px;

  @media screen and (max-width: 1200px) {
    display: none;
  }
}

.work-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167x;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-list-item {
  position: relative;
}

.work-list-item > .label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  padding-top: 27px;
  padding-bottom: 27px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

// .work {
//   padding-top: 95px;
//   padding-bottom: 95px;
// }

// .container .work {
//   margin-bottom: 95px;
// }

// .work-title {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 36px;
//   line-height: 1.167x;
//   letter-spacing: 0.03em;
//   color: var(--title-text-color);
//   text-align: center;
//   margin-bottom: 50px;
// }

// .work-list {
//   display: flex;
//   justify-content: space-between;
// }

// .work-list-item {
//   position: relative;
// }

// .work-list-item > .label {
//   display: block;
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   height: 70px;
//   width: 100%;
//   background-color: rgba(47, 48, 58, 0.8);
//   padding-top: 27px;
//   padding-bottom: 27px;

//   font-family: 'Roboto', sans-serif;
//   font-style: normal;
//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.143;
//   text-align: center;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;

//   color: var(--white-color);
// }
