:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --acent-color: #2196f3;
  --white-color: #ffffff;
  --header-border-color: #ececec;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --social-link-icon-color: #afb1b8;
  --dark-color: #2f303a;
  --cube: cubic-bezier(0.4, 0, 0.2, 1);
}
